.drag-drop {
  margin: 10px;
  background-color: var(--transparent-background-color);
  width: 100%;
  border-radius: 10px;
}

.drag-drop-area {
  border: 2px dashed var(--accent-color);
  color: var(--accent-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.is-dragging {
  background-color: var(--light-dark-background-color);
}
